@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer components {
    .container {
        @apply px-5 mx-auto
    }

    .ele-center {
        @apply flex justify-center items-center
    }

    .ele-center-col {
        @apply flex justify-center items-center flex-col
    }

    .main-btn {
        @apply bg-[#42b0d1] hover:bg-[#81d6e1] transition-all duration-300
    }
    .main-page {
        @apply m-p dark:bg-main-dark-bg dark:text-white min-h-[100vh]
    }
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Default light mode scrollbar styles */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #d6dbd7;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cfd2d0;
}

/* Dark mode scrollbar styles */
body.dark ::-webkit-scrollbar-thumb {
    background: #505762;
    /* Change to your desired dark mode color */
}

body.dark ::-webkit-scrollbar-thumb:hover {
    background: #5d646f;
    /* Change to your desired dark mode hover color */
}

body.dark ::-webkit-scrollbar-track {
    background: #999;
}

.m-p {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ------------------------- */

/* Header */
.app-header {
    background: #fff;
    border-block-end: 1px solid #f3f3f3;
    transition: all .1s ease;
    box-shadow: 0 7px 26px rgba(154, 154, 204, .1);
}

.app-sidebar {
    background: #fff;
    border-inline-end: 1px solid #ededf5;
    z-index: 103;
}

.shadow {
    box-shadow: 14px 0 47px 0 rgb(94 92 154 / 10%)
}

.dark .MuiPaper-root {
    border: none;
}

.dark header.MuiPaper-root {
    border-bottom: 1px solid #ffffff1a !important;
}

.dark .MuiDrawer-paperAnchorDockedLeft {
    border-right: 1px solid #3A3D4E !important;
}

.light .MuiAppBar-colorPrimary {
    background-color: #fff !important;
    color: #333;
}
.dark .MuiAppBar-colorPrimary {
    background-color: #2A2E3F !important;
    color: #fff;
}
.MuiDataGrid-columnHeaderTitle {
    font-weight: 800;
}
.dark .MuiDataGrid-columnHeaderTitle,
.dark .MuiDataGrid-main .css-ptiqhd-MuiSvgIcon-root {
    color: #ddd !important
}
.dark .MuiDataGrid-footerContainer div ,
.dark .MuiDataGrid-footerContainer svg {
    color: #fff !important
}
@media (max-width: 567px) {
    .MuiDataGrid-root {
        width: 700px;
    }
}
.dark .MuiDataGrid-toolbarContainer button{
    color: #b6b3b3 !important
}
.MuiDataGrid-toolbarContainer {
    padding: 15px;
}

.dark .MuiDataGrid-cellCheckbox svg ,
.dark .MuiDataGrid-columnHeaderTitleContainerContent svg {
    color: #fff;
}
.dark .MuiInputLabel-formControl {
    color: #999
}
.dark .css-batk84-MuiInputBase-root-MuiFilledInput-root::before ,
.dark .css-batk84-MuiInputBase-root-MuiFilledInput-root:hover::before {
    border-color: #999;
}
.css-1tfwfi7-MuiFormControl-root-MuiTextField-root {
    flex: 1;
}

/* Responsive styling for screens with a max-width of 600px (adjust as needed) */
@media (max-width: 640px) {
    .css-1tfwfi7-MuiFormControl-root-MuiTextField-root {
        flex: none; /* Reset flex property */
        width: 100%; /* Set width to 100% for column layout */
    }
}
.dark #filled-select-currency-helper-text {
    color: #ddd;
}
.dark .MuiInputBase-input {
    caret-color: #dedede;
    color: #fff;
}
.dark .MuiFilledInput-underline svg {
    color: #fff !important;
}